/Progetto/IndovinaLaParola_IT/GTW/common/target/
/Progetto/IndovinaLaParola_IT/GTW/server/target/
/Progetto/FIne(forse)/IndovinaLaParola_bugfix/GTW/common/target/
/Progetto/FIne(forse)/IndovinaLaParola_bugfix/GTW/server/target/
/Progetto/FIne(forse)/IndovinaLaParola_bugfix/GTW/client/target/
